.container {
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    font-size: 30px;
    color: rgb(138, 193, 255);
    font-weight: bolder;

    margin: 30px 0px;
}

.paragrafo {
    color: rgb(107, 148, 196);
    font-weight: bolder;
}